body {
    text-align: center;
    margin: 50px auto 0;
    font-family: Arial, Helvetica, sans-serif
}

.btn {
 background-color: #506ef5;
 color: #ffff;
 border-radius: 30px;
 font-size: 22px;
 font-family: Arial, Helvetica, sans-serif;
 width: 50px;
 
}

/* #btnSi {
    background: transparent;
    border: 3px solid #506ef5;
    border-radius: 70px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 
}

#btnNo {
    background: transparent;
    border: 3px solid #506ef5;
    border-radius: 70px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
} */

#btnSi:hover {
    background-color: #506ef5;
    color: white;
}

.back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0vmax;
    height: 0vmax;
    transform: translate(-50%,-50%);
    background: #506ef5;
    border-radius: 70%;
    transition: all 1s ease;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .back.selected {
    width: 200vmax;
    height: 200vmax;
    transition: all 1s ease;
  }